
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 800px;
    overflow: auto;
}
.box 
{
    margin-top: 5%;
    border-radius: 6px; 
    padding: 5%;
    color: white;
    background-color:rebeccapurple!important;
}
.form-control-lg
{
    width: 650px;
}   